.home-container {
  position: relative;
  margin: auto;
  margin-top: 15vh;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90vw;
  border: 2px solid black;
  border-radius: 12px;
}
.welcome {
  text-align: center;
  font-weight: bold;
}

.home-btn-wrapper{
  display: flex;
  align-items: center;
}

.home-button {
  width: 75vw;
  margin: auto;
  font-weight: bold;
}

.hint-text{
      position: relative;
  top: 20px;
  text-align: center;
}